@import '../common/constants.scss';
@import '../settings';

.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 10px 0px;
  position: absolute;
  height: auto;
  background-color: $white;
  min-height: 100px;
  width: 360px;
  z-index: 2;
  border-radius: 8px;
  left: 193px;
  top: 60px;
  @media screen and (max-width: $breakpoints-small) {
    max-width: 80%;
    left: 5%;
    top: 8%;
  };
  &__logo {
    position: relative;
    width: 173px;
    height: 30px;
    top: 0;
  };
}
