@import '../common/constants.scss';
@import '../settings';
@import '../common/mixins';

.select-container {
  display: flex;
  cursor: pointer;
}
.select {
  @include color-scheme($white, $black);
  cursor: pointer;
  display: flex;
  height: 3em;
  border-radius: 0.4em;
  padding: 0.5em;
  margin-right: 1rem;
  @media screen and (max-width: $breakpoints-small) {
    margin-top: 1rem;
  }
}

.select-secondary {
  @extend .select;
  @include color-scheme($white, $yellow-1);
  border-color: $white;
}

.shopping-button {
  @extend .select;
  text-align: center;
  display: flex;
  align-items: center;
  border-width: thin;
  border-style: solid;
}

.shopping-button-secondary {
  @extend .select-secondary;
}
