@import '../common/constants.scss';
@import '../settings';
@import '../common/mixins';

.product-card {
  height: fit-content;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.05);
}
.product-card-container {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  background-color: $white;
  align-self: center;
}

.product-card-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 240px;
  @media screen and (max-width: $breakpoints-small) {
    height: 170px;
    background-position: center;
  }
}

.product-card-fav-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.product-card-details {
  display: flex;
  flex-direction: column;
  border-top: 1px $dark-grey-1 solid;
  padding: 5%;
  @media screen and (max-width: $breakpoints-small) {
    border-top: none;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    align-items: center;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__favorite {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}

.product-card-details-status-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  gap: 10px;
  width: 69px;
  height: 21px;
  background-color: $status-new;
  border-radius: 4px;
  color: $white;
}

.product-card-details-status-restored {
  @extend .product-card-details-status-new;
  background-color: $status-restored;
}

.product-card-detailed {
  @extend .product-card;
  background-color: #f4f7fa;
  margin: 1.5rem 3rem;
  display: flex;
  width: 70%;
  justify-content: center;
  @media screen and (max-width: $breakpoints-small) {
    width: 100%;
  }
}
.product-card-detailed-container {
  @extend .product-card-container;
  flex-direction: row;
  width: 70%;
  justify-content: flex-start;
  @media screen and (max-width: $breakpoints-small) {
    flex-direction: column;
    padding: 0 1rem;
    width: 60%;
  }
}

.product-card-detailed-container-listing {
  @extend .product-card-detailed-container;
  @media screen and (max-width: $breakpoints-small) {
    flex-direction: row;
    align-items: center;
  }
}

.product-card-image-detailed {
  @extend .product-card-image;
  width: 200px;
  margin: 0 4rem;
  @media screen and (max-width: $breakpoints-small) {
    width: 100%;
    margin: 0;
  }
}
.product-card-detailed-actions {
  display: flex;
  background-color: $white;
  width: 30%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__add-to-cart {
    margin-top: 2rem;
    color: $white;
    cursor: pointer;
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    background-color: $black;
    border-radius: 0.5rem;
    @media screen and (max-width: $breakpoints-small) {
      padding: 0.6rem;
      font-size: 12px;
    }
  }
  &__add-to-cart-secondary {
    @extend .product-card-detailed-actions__add-to-cart;
    background-color: $yellow-1;
  }
}

.product-card-detailed-stats {
  @extend .product-card-details;
  &__par {
    font-size: 1.5rem;
  }
  @media screen and (max-width: $breakpoints-small) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.product-card-detailed-stats-listing {
  @extend .product-card-detailed-stats;
  @media screen and (max-width: $breakpoints-small) {
    flex-direction: column;
  }
}

.favorite-card-remove {
  cursor: pointer;
  color: blue;
  @media screen and (max-width: $breakpoints-small) {
    padding: 0 1rem;
    width: 100%;
  }
}

.favorite-card-detailed {
  @extend .product-card-detailed;
  border: 1px $black solid;
  border-radius: 4px;
  width: 100%;
}

.product-card-details-mobile {
  display: flex;
}

.favorite-card-header {
  display: flex;
  flex-direction: column;
}
